node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#do not share config.yml public repo
config.yml
micro/*.js